/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

> 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma. */



:root {
   --clr-accent: hsl(158, 36%, 37%);
   --clr-primary-200: hsl(30, 38%, 92%);
   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-500: hsl(228, 12%, 48%);
   --clr-neutral-800: hsl(212, 21%, 14%);

   --fs-html: 14px;
   --fs-body: var(--fs-html);
   --ff-primary: 'Montserrat', sans-serif;
   --ff-headings: 'Fraunces' , sans-serif;
   --fw-body: 500;
   --fw-headings: 700;
}

html {
   font-size: var(--fs-html);
}

body {
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   background-color: var(--clr-primary-200);

   height: 100dvh;
   display: grid;
   place-items: center;
}

.container {
   max-width: 375px;
   background-color: var(--clr-neutral-100);
   border-radius: 10px;
   overflow: hidden;
}

.content-product-container {
   display: grid;
   gap: 1rem;
   padding: 1.65rem;
}

.category__product {
   text-transform: uppercase;
   color: var(--clr-neutral-500);
   letter-spacing: 5px;
   font-weight: var(--fw-body);
}

.name__product {
   font-size: 2.5rem;
   line-height: 1.1;
   font-weight: var(--fw-headings);
   font-family: var(--ff-headings);
}

.description__product {
   color: var(--clr-neutral-500);
   font-weight: var(--fw-body);
   font-family: var(--ff-primary);
   line-height: 1.8;
   font-size: 1.13rem;
}

.price__product {
   display: flex;
   gap: 1.5rem;
   align-items: center;
}


.price {
   color: var(--clr-accent);
   font-weight: var(--fw-headings);
   font-family: var(--ff-headings);
   font-size: 3rem;
}

.original-cost {
   color: var(--clr-neutral-500);
   opacity: 0.8;
   text-decoration: line-through;
   font-weight: var(--fw-body);
}

.cart-btn {
   background-color: var(--clr-accent);
   color: var(--clr-neutral-100);
   border: none;

   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: .75rem;
   
   border-radius: 5px;
   padding: 1rem 2rem;
   cursor: pointer;
   font-weight: var(--fw-headings);
}

.cart-icon {
   content: '';
   background-image: url(../images/icon-cart.svg);
   width: 15px;
   height: 16px;
}



/* Responsive design */

@media (min-width: 768px) {
  .container {
      max-width: 650px;
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}






